.filter {
  margin-right: 8px;
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.filter:last-child {
  margin-right: 0;
}

.filter:hover {
  border: 1px solid #ce4646;
  border-radius: 4px;
}

.filtersContent .filterSelected {
  border: 1px solid #ce4646;
  border-radius: 4px;
}
